node_modules/
dist/
*.tgz
.DS_Store
/archive
/docs/superpowers
*/skills/*
*/*/skills/*
skills-lock.json
/.superpowers
/docs/article_media/0504/how-to-share-skills-across-codex-claude-code-cursor-and-gemini-cli-with-aweskill-zh-CN-review
/docs/article_media/0505/let-your-ai-agent-manage-aweskill-for-you-zh-CN-review
.peng-crosspost-workflow/
.cursor
/docs/todo/archive
/docs/article_media/0601/xhs
/docs/article_media/0529
/docs/article_media/0602/media
/docs/article_media/0804/aweskill-scan-update-symlinks-zh-CN
/docs/article_media/0808/aweskill-now-works-on-windows-zh-CN
/docs/article_media/0806/use-aweskill-wear-the-badge-zh-CN
